.dark-mode.App {
  background-color: #1b1d22;
  color: white;
  transition: background-color 0.25s ease-out;
}

.light-mode.App {
  background-color: white;
  color: black;
  transition: background-color 0.25s ease-out;
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


